@import '../../sass/base/variables';

.FavoriteCard {
  gap: 10px;
  padding: 10px;
  align-items: center;
  
  grid-template-columns: auto 1fr auto;
  & p {
    color: $white;
    font-weight: 600;
  }
  & button {
    padding: 4px;
    font-size: $font-size-xl;
  }
}

.FavoriteCard__image {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  & img {
    border-radius: 50%;
    object-fit: cover;
  }
}