@import '../../sass/base/variables';

.CharacterCard {
  border-radius: 5px;
  background-color: $white;
}

.CharacterCard__header {
  padding: 8px;
  height: calc(100vw / 5);
  justify-content: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: $basic-gradient;
  &.Gryffindor {
    background: $gryffindor-gradient;
  }
  &.Slytherin {
    background: $slytherin-gradient;
  }
  &.Hufflepuff {
    background: $hufflepuff-gradient;
  }
  &.Ravenclaw {
    background: $ravenclaw-gradient;
  }
}

.CharacterCard__header--image {
  width: calc(100vw / 6);
  height: calc(100vw / 6);
  border-radius: 50%;
  & img {
    object-fit: cover;
    border-radius: 50%;
    object-position: top;
  }
}

.CharacterCard__body {
  gap: 4px;
  padding: 12px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.CharacterCard__body--status {
  color: $grey;
  display: flex;
  font-weight: 600;
  grid-row-start: 2;
  font-size: $font-size-xs;
  text-transform: uppercase;
  justify-content: space-around;
  & button {
    color: $grey;
    padding: 4px;
    font-size: $font-size-xxl;
  }
  & button.true {
    color: #333333;
  }
}

.CharacterCard__body--title {
  font-weight: 600;
  grid-row-start: 1;
  text-align: center;
  font-size: $h3-font-size;
}

.CharacterCard__body--info {
  display: none;
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  .CharacterCard {
    grid-template-columns: 0.5fr 1fr;
  }

  .CharacterCard__header {
    height: auto;
    align-items: center;
    border-top-right-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .CharacterCard__body {
    padding: 20px 25px;
    border-top-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .CharacterCard__body--status {
    grid-row-start: 1;
    align-items: center;
    font-size: $font-size-sm;
    justify-content: space-between;
    & div {
      display: flex;
    }
    & div p:first-child::after {
      content: '/';
      padding: 0 4px;
    }
    & button {
      font-size: xx-large;
    }
  }

  .CharacterCard__body--title {
    grid-row-start: 2;
    text-align: left;
    font-size: $h1-font-size;
  }

  .CharacterCard__body--info {
    gap: 8px;
    display: grid;
    padding-top: 20px;
  }
}