@import '../../sass/base/variables';

.FavoritesList {
  min-width: 300px;
  background-color: #6B63B5;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.FavoritesList__empty {
  padding: 20px;
  padding-top: 10px;
  text-align: center;
  justify-content: center;
  & p {
    color: $white;
    font-weight: 600;
  }
}

.FavoritesList__container {
  overflow: auto;
  max-height: 280px;
  padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .FavoritesList {
    border-radius: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  .FavoritesList__empty {
    padding: 10px;
    padding-top: 18px;
  }

  .FavoritesList__container {
    padding-top: 10px;
    padding-bottom: 0px;
  }
}